.footer {
    max-width: 1600px;
    padding: 60px 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  
  .address-wrapper {
    margin-right: 70px;
  }
 

  .address {
    font-style: normal;
  }
  
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer {
    background-color: var(--footer-bkrnd-color);
  }