.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}


